.tableContainer{
    border: 1px solid black;
    max-width: 700px;
    margin: auto;
    padding: 1rem;
    font-family: Roboto;
}

.img{
    height: 100px;
    border-radius: 50%;

}
tr{
    border: 1px solid black;
}
.input{
    width:500px;
    margin:2rem;
    line-height: 2;
}